{% render 'partials/head.liquid' %}

<nav>
    <img class="logo-milledoni" src="assets/logo.svg" alt="logo">
    {% comment %} <div class="log-in"></div> {% endcomment %}
    <div class="menu"></div>
</nav>

    <div class="divider"></div>
    <h1>Ik zoek een cadeau voor..
        <span>Mijn moeder</span></h1>

    <div class="filter">    
        <label for="filter-btn"></label>

        <select name="filter" id="filter-btn">
            <option value="">Filter</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
        </select>
    </div>

<main>
    <div class="card-container">
        {% for product in products %}
            <section class="card">
                <img width="185px" class="product-image" src="{{ product.image }}" alt="product">

                <h2 class="product-name">{{ product.name }}</h2>

                <p class="product-amount">{{ product.amount }}</p>

                <a href="{{ product.shop_url }}">{{ product.shop_name }}</a>
            </section>
        {% endfor %}
    </div>    
</main>

{% render 'partials/foot.liquid' %}


